* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#map {
  height: 100vh;
  margin: 1em;
}

#location__input {
}

#location__submit {
}

/* Optional: Makes the sample page fill the window. */
